#td-func-template, #ud-func-template {
	display: none;
}

#class-search-list {
	list-style: none;
	padding-bottom: 0;
	padding-left: 0;
	background-color: #111;
	margin-bottom: 0;
}

#class-search-list li {
	padding-left: 30px;
	background-color: #111;
}

#class-search-list li a {
	color: white;
	letter-spacing: revert;
	user-select: none;
}

#class-search-list li:hover {
	background-color: #191919;
	cursor: pointer;
}

#class-search {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	background: #000;
	color: white;
	border: 2px solid #222;
	border-radius: 3px;
	font-size: 0.9em;
	font-style: italic;
}



dt {
	background-color: #12304a;
	border-top: 4px solid #384d7b;
	margin-bottom: 10px;
	padding: 0 5px 5px 0;
}

code.declsandbox {
	margin-left: 0.5em;
}

ul.parameters {
	margin-top: 0;
	margin-bottom: 10px;
}

ul.parameters li {
	font-size: 0.8em;
}

.hide-element {
	display: none;
}

ul.parameters li span {
	font-size: 1.25em;
	display: contents;
}



code.declparam:not(:last-child):after, span.declparam-table:not(:last-child):after {
	content: ',';
	color: white;
	font-style: normal;
	font-weight: normal;
	margin-right: 0.2em;
}

span.declparam-table code:before, span.declparam-table code:after {
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	color: #3a899b;
}

span.declparam-table code:before {
	content: '{';
	margin-right: 0.2em;
}

span.declparam-table code:after {
	content: '}';
	margin-left: 0.2em;
}

span.declparam-table {
	font-size: 1em !important;
	font-weight: bold;
	color: #3a899b;
}

span.declparam-table code em {
	color: #a28c19;
	font-weight: revert;
}

code.declparam {
	color: #bda93d;
	font-style: italic;
	font-size: 0.9em;
}

code.declname {
	font-size: 13px;
}


span.declparameters:before {
	content: ' ( ';
}

span.declparameters:after {
	content: ' )';
}

span.declparameters code.declparam, span.decllink {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#td-container {
	margin-bottom: 100px;
}
 
dd {
	margin-inline-start: 30px;
	font-size: 0.9em;
}

th {
	float: left;
}

span.decllink {
	content: url('/images/pragma.svg');
	float: right;
	margin-top: 4px;
	height: 16px;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.2s;
}

span.decllink:hover {
	opacity: 1;
	transition: 0.2s;
}

h2.userdata-header, h2.tabledata-header {
	color: #9d9d9d;
}

.ud-func {
	background-color: #232a31;
	border-top: 4px solid #434853;
	margin-bottom: 10px;
	padding: 0 5px 5px 0;
}
