body {
	background-color: #111;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	overflow-x: hidden;
	color: white;
	margin: 0;
	font-size: 16px;
}

p {
	margin-top: 0;
}

a {
	transition: 0.6s;
	color: #02e37a;
	text-decoration: none;
}

img {
	width: 100%;
	min-width: 200px;
	max-width: 400px;
}

a:hover {
	transition: 0.6s;
	letter-spacing: 1px;
}

canvas {
	background: #111;
	z-index: -9999;
	position: fixed;
	top: 40px;
	left: 0px;
	overflow: hidden;
	width: 100vw;
}


.top-bar {
	background-color: #222;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.navigation-bar {
	background-color: #333;
	width: 100%;
	display: inline;
}

.navigation-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #222;
	display: flex;
}

.navigation-bar li {
	padding: 14px 20px;
	transition: 0.2s;
	user-select: none;
	background-color: #191919;
}

.navigation-bar li > a {
	letter-spacing: revert;
}

.navigation-sel {
	background-color: #111 !important;
}

.navigation-bar li:hover {
	background-color: #333;
	transition: 0.2s;
}

.content {
	margin-top: 50px;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.horizontal-card {
	margin: 0 5px 10px 5px;
	border-radius: 5px;
	overflow: hidden;
}

.horizontal-card-2 {
	display: flex;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.horizontal-card {
		display: inherit;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
	}
	
	.horizontal-card-2 {
		display: inherit;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
	}
	
	.card-title {
		text-align: center;
	}
	
	img {
		max-width: 100%;
	}
	
	.card-right {
		padding-top: 0px !important;
	}
	
	.content {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.h-layout {
		display: inherit !important;
	}
	
	.box, .box-2, .box-3, .box-4 {
		/* width: 100%; */
		max-width: -moz-available;
		max-width: -webkit-fill-available;
	}
}

.center {
	text-align: center;
}

.card, .card-right {
	background-color: #000000c2;
	color: white;
	padding: 20px;
}

.card-title {
	margin-bottom: 15px;
}

.card-right {
	min-width: 30%;
	flex: 1;
}

/* Horizontal layout */
.h-layout {
	display: flex;
}

/* Vertical layout */
.v-layout {
	display: block;
	width: 100%;
}

/* Card */
.box, .box-2, .box-3, .box-4 {
	background: #00000073;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
	flex: 1;
}

.box-2 {
	flex: 2;
}

.box-3 {
	flex: 3;
}

.box-4 {
	flex: 4;
}

.filler, .filler-2, .filler-3, .filler-4 {
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
	flex: 1;
}

.filler-2 {
	flex: 2;
}

.filler-3 {
	flex: 3;
}

.filler-4 {
	flex: 4;
}
