.Horizontal {
	display: flex;
}

.Vertical {
	display: block;
	width: 100%;
}

.DocsCard {
	background: #333;
	padding: 10px;
	border-radius: 0;
	margin: 5px;
	flex: 1;
}

.SearchCard {
	background: #333;
	padding: 10px;
	border-radius: 0;
	margin: 5px;
	flex: 1;
	max-width: 200px;
}

.SearchBar {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	font-style: italic;
	font-size: 0.9em;
	background: #000;
	color: white;
	border: 0;
	padding: 0;
}
